.intro {
    text-align: left;
    margin-top: 32px;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
;
    text-align: left;
}

.intro p {
    font-size: 1.2rem;
    color: #00000;
}

.intro p a {
    color: #7D1DD3;
    text-decoration: underline;
}

.intro p a:hover {
    color: #FFE500;
}

.contact {
    margin-top: 50px;
    text-align: left;
    font-size: 1.2rem;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
