/* General Styles */
@font-face {    
    font-family: "Montserrat";
    src: url("/font/Montserrat-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {    
    font-family: "Montserrat";
    src: url("/font/Montserrat-Italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {    
    font-family: "Montserrat";
    src: url("/font/Montserrat-SemiBold.otf");
    font-weight: bold;
    font-style: normal;
}


@font-face {    
    font-family: "Anokha";
    src: url("/font/Anokha.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {    
    font-family: "Anokha";
    src: url("/font/Anokha-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




/* header */

.header {
    background-color: #006f6b;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-family: 'Montserrat';
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.3rem;
    color: #FFFFFF;
}

.header-menu {
  background-color: #00a49e;
  width: 100%;
  z-index: 3;
  color:white;
}

.header-menu ul {
  margin: 0;
  list-style: none;
  color: white;
  background-color: #00a49e;
  font-size: 1.2rem;
  font-family: "Anokha";
  font-weight: bold;
  padding: 0 0;
  overflow: hidden;
  font-size: 1.5rem;
  border: none;
  width: 100%;
  position : absolute
  
}

.header-menu li a {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1.2rem;
  display: block;
  background-color: #E6F6F5;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
}

.header-menu li a:hover,
.header-menu .menu-btn:hover {background-color: white;   color: black}


.header-menu .logo {
  display: flex;
  flex-direction: row;
  font-size: 2em;
   padding: 10px 20px;
  text-decoration: none;
  color:white;
}

/* menu */

.header-menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header-menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: center;
  padding: 28px 20px;
  /* position: relative; */
  user-select: none;
}

.header-menu .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header-menu .menu-icon .navicon:before,
.header-menu .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header-menu .menu-icon .navicon:before {
  top: 5px;
}

.header-menu .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header-menu .menu-btn {
  display: none;
}

.header-menu .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {

  .header-menu .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    clear: none;
    float: center;
    max-height: none;
    
  }
  .header-menu .menu-icon {
    display: none;
  }

  .header-menu li a {
  font-family: "Anokha";
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #00a49e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

  .header-menu li a:hover,
    .header-menu .menu-btn:hover {
        color: white;
        background-color: #00a49e;
        font-size: 1.5rem;
        font-family: "Anokha";
        font-weight: bold;
}


}

.dropdown {
  display: block;
  padding: 20px 20px;
  border-right: 1px  #f4f4f4;
  text-decoration: none;
  color:white;
}




h2 {
    font-family: 'Anokha';
    font-size: 2.3rem;
    color: #cb0073;
}

a {
    color: #9b0058;
    text-decoration: underline;
}

a:hover {
    color: #ee0087;
;
}


/* Scroll block styles */
.scroll-block {
    max-height: 200px; /* Set a fixed height for the scroll block */
    width: auto;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0px; /* Add padding inside the block */
    font-size: 1.1em; /* Slightly smaller text */
    line-height: 1.4; /* Adjust line spacing for readability */
    margin-left:auto;
    margin-right:auto;

}

.scroll-block ul {
    padding-left: 0 px; /* Remove left padding for the list */
}

.scroll-block ul li {
    list-style: none;
    margin-bottom: 4px; /* spacing between list items */
    color: #000; /* Black color for scroll block items */
}

.scroll-block h3 {
    font-family: "Anokha";
    margin-top: 5px; /* Reduce top margin */
    margin-bottom: 5px; /* Reduce bottom margin */
}

.scroll-block h4 {
    font-family: "Anokha";
    font-size: 1.5rem;
    margin-top: 5px; /* Reduce top margin */
    margin-bottom: 5px; /* Reduce bottom margin */
    font-weight: normal;
}

/* News table styles */


.news-table td {
    vertical-align: top; /* Align content at the top of the cells */
    padding: 10px; /* Column separator width */
    
}

.news-table td:first-child {
  padding-left: 0;
}

.news-table :last-child {
  padding-right: 0;
}

.news-table td h3 {
    vertical-align: top; /* Align content at the top of the cells */
    padding: 0 5 px; /* Add some padding for better readability */
    margin: 0; /* Remove default margin */
}

.news-table td h4 {
    vertical-align: top; /* Align content at the top of the cells */
    padding: 0 5px; /* Add some padding for better readability */
    margin: 0; /* Remove default margin */
}

.roundrect {
border-radius: 15px;
}



main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    font-family: "Montserrat";
    font-size: 0.75rem;
    background-color: #006f6b;
    padding: 1px;
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
}
